<div class="row answer-form">
  <div class="col-md-5 ">
    <%= f.label :answer %>
    <%= f.text_field :content, class: "form-control content-answer" %>
    </div>
  <div class="col-md-3">
    <%= f.label :correct, class: "checkbox-inline" %>
    <%= f.check_box :correct, class: "checkbox" %>
  </div>
</div>
