<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if !user.admin_digest? && admin_check? %>
    | <%= link_to t("delete"), user, method: :delete, data: {confirm: t("you_sure")} %>
  <% end %>
</li>
