<tr>
  <td>
    <%= (result.answer.try(:correct?)||nil?).to_s %>
  </td>
  <td>
    <span><%= result.word.content %></span>
  </td>
  <td>
    <% unless result.answer.nil? %>
      <span><%= result.answer.content %></span>
    <% end %>
  </td>
</tr>
