<tr>
  <td><%= category.created_at.strftime t("time") %></td>
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td>
  <%= link_to t("lesson_start"), category_lessons_path(category_id: category.id),
    method: :post, class: "btn btn-primary" %>
  </td>
  </tr>
