<footer class="footer">
  <small>
    <%= t "footer_title" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about_title"), about_path %></li>
      <li><%= link_to t("contact_title"), about_path %></li>
    </ul>
  </nav>
</footer>	
